<section id="about" class="about flex items-center bg-cover bg-center bg-no-repeat py-[64px]
tablet:py-[80px] 
desktop:py-[112px]">

  <div class="container">
    <div class="text-center text-white">

      <h2 class="font-fira-sans text-base font-semibold leading-normal text-white uppercase mb-[12px]
      tablet:text-[16px] tablet:mb-[16px]
      desktop:text-[16px] desktop:mb-[16px]">Природність
      </h2>

      <h3 class="font-comfortaa mx-auto text-[36px] font-bold leading-[1.2] tracking-[0.01em] text-white mb-[20px]
      tablet:text-[36px] tablet:mb-[24px]
      desktop:text-[56px] desktop:mb-[24px] desktop:max-w-[630px]">Турбота про планету
      </h3>

      <p class="font-fira-sans text-base font-normal leading-[1.6] text-white max-w-[288px] mx-auto
      tablet:max-w-[573px] tablet:text-[18px]
      desktop:max-w-[580px] ">
        Ми використовуємо органічну бавовну, перероблений пластик, льон та
        коноплі для наших сумок.
      </p>
    </div>
  </div>
</section>