<section id="advantages-of-bags" class="py-[32px] tablet:py-[64px]">
  <div class="container">

    <div class="w-full h-full mb-[48px]
    tablet:w-[704px] tablet:mx-auto tablet:mt-0 tablet:mb-[32px]
    desktop:text-left">

      <h3 class="font-fira-sans text-base font-semibold leading-normal text-primary-dark uppercase mb-[12px]
      tablet:mb-[16px]">Переваги
      </h3>

      <h2 class="font-comfortaa font-bold text-4xl leading-[1.2] tracking-[0.01em] mb-[20px]
      tablet:mb-[24px]
      desktop:w-[768px] desktop:text-[48px]">Чому обрати нас?
      </h2>

      <p class="font-fira-sans text-base font-normal leading-[1.6] text-primary-dark
      desktop:w-[768px] desktop:mb-[20px] desktop:text-[18px]">
        Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
        стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
        відповідальність.
      </p>
    </div>

    <ul class="flex flex-col flex-wrap gap-[48px] p-0 box-border max-w-[320px]
    tablet:flex tablet:flex-row tablet:flex-wrap tablet:gap-[24px] tablet:max-w-[704px]
    desktop:flex-nowrap desktop:max-w-[1312px] desktop:items-start">

      <li class="flex flex-col items-center text-center box-border w-full
      tablet:w-[calc((100%-32px)/2)] tablet:text-left tablet:items-start tablet:flex-col tablet:flex-nowrap
      desktop:w-[calc((100%-48px)/3)]">

        <div class="w-full max-w-[288px] rounded-[32px] overflow-hidden shrink-0 mb-[8px]
        tablet:w-full tablet:h-[201px] tablet:max-w-none tablet:overflow-hidden tablet:mb-[32px]
        desktop:w-full desktop:h-[249px] desktop:max-w-none desktop:shrink-0 desktop:mb-[32px]">

          <picture>
            <source media="(min-width: 1440px)" srcset="
                /img/advantages/desktop/advantages-1.webp    1x,
                /img/advantages/desktop/advantages-1@2x.webp 2x
              " />

            <source media="(min-width: 768px)" srcset="
                /img/advantages/tablet/advantages-1.webp    1x,
                /img/advantages/tablet/advantages-1@2x.webp 2x
              " />

            <img class="w-full h-full rounded-[32px] object-cover block
            tablet:mb-[32px]
            " src="/img/advantages/mobile/advantages-1.webp" srcset="/img/advantages/mobile/advantages-1@2x.webp 2x"
              alt="Перевага 1" width="288" height="249" />
          </picture>
        </div>

        <div class="w-full text-left">
          <h3 class="font-comfortaa font-bold text-2xl tracking-[0.01em] mb-[4px]
          tablet:mb-[8px] tablet:w-[340px]
          desktop:text-[32px] desktop:mb-[24px]">Стійкість та екологічність
          </h3>

          <p class="font-fira-sans text-base font-normal leading-normal tracking-[0.01em] text-primary-dark">
            Виготовлені з органічної бавовни та переробленого пластику.
          </p>
        </div>
      </li>

      <li class="flex flex-col items-center text-center box-border w-full
      tablet:w-[calc((100%-32px)/2)] tablet:text-left tablet:items-start tablet:flex-col tablet:flex-nowrap
      desktop:w-[calc((100%-48px)/3)]">

        <div class="w-full max-w-[288px] rounded-[32px] overflow-hidden shrink-0 mb-[8px]
        tablet:w-full tablet:h-[201px] tablet:max-w-none tablet:overflow-hidden tablet:mb-[32px]
        desktop:w-full desktop:h-[249px] desktop:max-w-none desktop:shrink-0 desktop:mb-[32px]">

          <picture>
            <source media="(min-width: 1440px)" srcset="
                /img/advantages/desktop/advantages-2.webp    1x,
                /img/advantages/desktop/advantages-2@2x.webp 2x
              " />

            <source media="(min-width: 768px)" srcset="
                /img/advantages/tablet/advantages-2.webp    1x,
                /img/advantages/tablet/advantages-2@2x.webp 2x
              " />

            <img class="w-full h-full rounded-[32px] object-cover block
            tablet:mb-[32px]
            " src="/img/advantages/mobile/advantages-2.webp" srcset="/img/advantages/mobile/advantages-2@2x.webp 2x"
              alt="Перевага 2" width="288" height="249" />
          </picture>
        </div>

        <div class="w-full text-left">
          <h3 class="font-comfortaa font-bold text-2xl tracking-[0.01em] mb-[4px]
          tablet:mb-[42px] tablet:w-[340px]
          desktop:text-[32px] desktop:mb-[24px]">
            Міцність і довговічність
          </h3>

          <p class="font-fira-sans text-base font-normal leading-normal tracking-[0.01em] text-primary-dark">
            Наші сумки мають посилені шви для тривалого використання.
          </p>
        </div>
      </li>

      <li class="flex flex-col items-center text-center box-border w-full
      tablet:w-[calc((100%-32px)/2)] tablet:text-left tablet:items-start tablet:flex-col tablet:flex-nowrap
      desktop:w-[calc((100%-48px)/3)]">

        <div class="w-full max-w-[288px] rounded-[32px] overflow-hidden shrink-0 mb-[8px]
        tablet:w-full tablet:h-[201px] tablet:max-w-none tablet:overflow-hidden tablet:mb-[32px]
        desktop:w-full desktop:h-[249px] desktop:max-w-none desktop:shrink-0 desktop:mb-[32px]">

          <picture>
            <source media="(min-width: 1440px)" srcset="
                /img/advantages/desktop/advantages-3.webp    1x,
                /img/advantages/desktop/advantages-3@2x.webp 2x
              " />

            <source media="(min-width: 768px)" srcset="
                /img/advantages/tablet/advantages-3.webp    1x,
                /img/advantages/tablet/advantages-3@2x.webp 2x
              " />

            <img class="w-full h-[416px] rounded-[32px] object-cover block
            tablet:mb-[32px]
            " src="/img/advantages/mobile/advantages-3.webp" srcset="/img/advantages/mobile/advantages-3@2x.webp 2x"
              alt="Перевага 3" width="288" height="249" />

          </picture>
        </div>

        <div class="w-full text-left">
          <h3 class="font-comfortaa font-bold text-2xl tracking-[0.01em] mb-[4px]
          tablet:mb-[8px] tablet:w-full
          desktop:text-[32px] desktop:mb-[24px]">
            Стильний та сучасний дизайн
          </h3>

          <p class="font-fira-sans text-base font-normal leading-normal tracking-[0.01em] text-primary-dark">
            Мінімалістичні моделі в обмежених серіях для кожного стилю.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>