<footer class="w-full bg-primary-green-light flex flex-col items-center py-[48px]
tablet:pt-[64px] tablet:pb-[48px]
desktop:py-[80px]">

  <div
    class="w-[320px] px-[20px] flex flex-col items-center gap-[48px]
  tablet:w-[704px] tablet:p-0 tablet:gap-[32px]
  desktop:w-[1312px] desktop:flex-row desktop:flex-wrap desktop:justify-between desktop:row-gap-[74px] desktop:gap-0 desktop:min-h-[70px]">

    <nav class="flex flex-col items-center gap-[32px]
    tablet:justify-center
    desktop:flex-row desktop:gap-[175px]">

      <a href="/index.html" class="desktop:flex desktop:items-center">

        <img class="w-[280px] h-[121px] block items-center
        tablet:w-[164px] tablet:h-[70px]" src="/img/logo.svg" alt="EcoTote Logo" width="280" height="121" />
      </a>

      <ul class="flex flex-col gap-[32px]
      tablet:flex-row">

        <li>
          <a class="font-fira-sans block text-center text-base font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out hover:underline focus:underline active:underline active:text-primary-green"
            href="#about">Про нас
          </a>
        </li>

        <li>
          <a class="font-fira-sans block text-center text-base font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out hover:underline focus:underline active:underline active:text-primary-green"
            href="#advantages-of-bags">Переваги
          </a>
        </li>

        <li>
          <a class="font-fira-sans block text-center text-base font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out hover:underline focus:underline active:underline active:text-primary-green"
            href="#assortment">Асортимент
          </a>
        </li>

        <li>
          <a class="font-fira-sans block text-center text-base font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out hover:underline focus:underline active:underline active:text-primary-green"
            href="#gallery">Галерея
          </a>
        </li>

        <li>
          <a class="font-fira-sans block text-center text-base font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out hover:underline focus:underline active:underline active:text-primary-green"
            href="#feedbacks">Відгуки
          </a>
        </li>

        <li>
          <a class="font-fira-sans block text-center text-base font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out hover:underline focus:underline active:underline active:text-primary-green"
            href="#support">Контакти
          </a>
        </li>
      </ul>
    </nav>

    <div class="flex justify-center items-center gap-[12px]
    desktop:justify-end">

      <a class="w-[24px] h-[24px] flex items-center justify-center" href="https://www.instagram.com/" target="_blank"
        rel="noopener noreferrer">

        <svg class="w-[24px] h-[24px] block fill-primary-dark">
          <use href="/img/icons.svg#icon-instagram"></use>
        </svg>
      </a>

      <a class="w-[24px] h-[24px] flex items-center justify-center" href="https://www.linkedin.com/" target="_blank"
        rel="noopener noreferrer">

        <svg class="w-[24px] h-[24px] block fill-primary-dark">
          <use href="/img/icons.svg#icon-linked-in"></use>
        </svg>
      </a>

      <a class="w-[24px] h-[24px] flex items-center justify-center" href="https://www.youtube.com/" target="_blank"
        rel="noopener noreferrer">

        <svg class="w-[24px] h-[24px] block fill-primary-dark">
          <use href="/img/icons.svg#icon-you-tube"></use>
        </svg>
      </a>
    </div>

    <div class="w-full h-px bg-primary-dark-15
    desktop:w-full desktop:basis-full desktop:mt-[52px] desktop:mb-0 desktop:order-999 desktop:bg-black-20">
    </div>
  </div>

  <div class="w-[320px] px-[20px] flex flex-col items-center mt-[24px] gap-[24px]
  tablet:w-[704px] tablet:p-0 tablet:gap-[16px] tablet:mt-[16px]
  desktop:w-[1312px]">

    <address class="flex flex-col items-center gap-[16px]
    tablet:flex-row tablet:gap-[32px]
    desktop:flex-row desktop:gap-[32px] desktop:justify-center">

      <a class="font-fira-sans text-base font-normal leading-[1.6] text-primary-dark not-italic no-underline transition-all duration-300 ease-in-out hover:underline focus:underline active:underline active:text-primary-green"
        href="tel:+380999091122">+38 (099) 909 11 22
      </a>

      <a class="font-fira-sans text-base font-normal leading-[1.6] text-primary-dark not-italic no-underline transition-all duration-300 ease-in-out hover:underline focus:underline active:underline active:text-primary-green"
        href="mailto:hello@ecotote.com">hello@ecotote.com
      </a>
    </address>

    <p class="font-fira-sans text-center text-[14px] font-normal leading-[1.6] text-primary-dark mb-[16px]
    desktop:mb-0">© 2025 EcoTote. Всі
      права захищені.
    </p>

  </div>

</footer>