<header class="w-full h-[64px] bg-primary-green-light 
xl:h-[74px]">
  <div class=" py-[14px] pr-[25px] pl-[20px] 
  md:px-[32px] 
  xl:px-[64px] ">
    <div class="flex justify-between items-center">
      <nav class="flex items-center 
      xl: gap-[175px]">
        <a href="/index.html" class="flex items-center transition-all duration-250ms ease-in-out">
          <img class="block w-[84px] h-[36px] 
          xl:w-[106px] xl:h-[46px]" src="/img/logo.svg" alt="EcoTote Logo" width="84" height="36" />
        </a>
        <ul class="hidden list-none m-0 p-0 
        xl:flex xl:items-center xl:gap-[32px]">
          <li>
            <a href="#about" class="font-fira-sans text-base font-normal leading-6 text-primary-dark no-underline transition-all duration-250ms ease-in-out 
              xl:hover:underline focus:underline active:underline active:text-primary-green">Про
              нас</a>
          </li>
          <li>
            <a href="#advantages-of-bags" class="font-fira-sans text-base font-normal leading-6 text-primary-dark no-underline transition-all duration-250ms ease-in-out 
              xl:hover:underline xl:focus:underline xl:active:underline xl:active:text-primary-green">Переваги</a>
          </li>
          <li>
            <a href="#assortment" class="font-fira-sans text-base font-normal leading-6 text-primary-dark no-underline transition-all duration-250ms ease-in-out 
              xl:hover:underline xl:focus:underline xl:active:underline xl:active:text-primary-green">Асортимент</a>
          </li>
          <li>
            <a href="#gallery" class="font-fira-sans text-base font-normal leading-6 text-primary-dark no-underline transition-all duration-250ms ease-in-out 
              xl:hover:underline xl:focus:underline xl:active:underline xl:active:text-primary-green">Галерея</a>
          </li>
          <li>
            <a href="#feedbacks" class="font-fira-sans text-base font-normal leading-6 text-primary-dark no-underline transition-all duration-250ms ease-in-out 
              xl:hover:underline xl:focus:underline xl:active:underline xl:active:text-primary-green">Відгуки</a>
          </li>
          <li>
            <a href="#support" class="font-fira-sans text-base font-normal leading-6 text-primary-dark no-underline transition-all duration-250ms ease-in-out 
              xl:hover:underline xl:focus:underline xl:active:underline xl:active:text-primary-green">Контакти</a>
          </li>
        </ul>
      </nav>

      <address class="hidden xl:flex xl:items-center xl:gap-[16px]">
        <a href="tel:+380999091122" class="font-fira-sans text-base not-italic font-normal leading-6 text-primary-dark no-underline transition-all duration-250ms ease-in-out 
          xl:hover:underline xl:focus:underline xl:active:underline xl:active:text-primary-green">+38
          (099) 909 11
          22</a>
        <a href="mailto:hello@ecotote.com" class="font-fira-sans text-base not-italic font-normal leading-6 text-primary-dark no-underline transition-all duration-250ms ease-in-out 
          xl:hover:underline xl:focus:underline xl:active:underline xl:active:text-primary-green">hello@ecotote.com</a>
      </address>

      <button type="button" class="flex items-center justify-center bg-transparent border-0 p-0 cursor-pointer transition-all duration-250ms ease-in-out 
        xl:hidden" aria-label="Відкрити меню" data-menu-open>
        <svg class="w-4 h-3 block" width="16" height="12">
          <use href="/img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>