<header class="w-full h-[64px] bg-primary-green-light 
desktop:h-[74px]">

  <div class="container py-[14px] pr-[25px] pl-[20px] 
  tablet:px-[32px] 
  desktop:px-[64px] ">

    <div class="flex justify-between items-center">

      <nav class="flex items-center 
      desktop:gap-[175px]">

        <a href="./index.html" class="flex items-center transition-all duration-300 ease-in-out">

          <img class="block w-[84px] h-[36px] 
          desktop:w-[106px] desktop:h-[46px]" src="/img/logo.svg" alt="EcoTote Logo" width="84" height="36" />
        </a>

        <ul class="hidden list-none m-0 p-0 
        desktop:flex desktop:items-center desktop:gap-[32px]">

          <li>
            <a href="#about" class="font-fira-sans text-base font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out 
              desktop:hover:underline focus:underline active:underline active:text-primary-green">Про
              нас
            </a>
          </li>

          <li>
            <a href="#advantages-of-bags"
              class="font-fira-sans text-base font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out 
              desktop:hover:underline desktop:focus:underline desktop:active:underline desktop:active:text-primary-green">Переваги
            </a>
          </li>

          <li>
            <a href="#assortment"
              class="font-fira-sans text-base font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out 
              desktop:hover:underline desktop:focus:underline desktop:active:underline desktop:active:text-primary-green">Асортимент
            </a>
          </li>

          <li>
            <a href="#gallery"
              class="font-fira-sans text-base font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out 
              desktop:hover:underline desktop:focus:underline desktop:active:underline desktop:active:text-primary-green">Галерея
            </a>
          </li>

          <li>
            <a href="#feedbacks"
              class="font-fira-sans text-base font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out 
              desktop:hover:underline desktop:focus:underline desktop:active:underline desktop:active:text-primary-green">Відгуки
            </a>
          </li>

          <li>
            <a href="#support"
              class="font-fira-sans text-base font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out 
              desktop:hover:underline desktop:focus:underline desktop:active:underline desktop:active:text-primary-green">Контакти
            </a>
          </li>
        </ul>
      </nav>

      <address class="hidden desktop:flex desktop:items-center desktop:gap-[16px]">

        <a href="tel:+380999091122"
          class="font-fira-sans text-base not-italic font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out 
          desktop:hover:underline desktop:focus:underline desktop:active:underline desktop:active:text-primary-green">+38
          (099) 909 11
          22
        </a>

        <a href="mailto:hello@ecotote.com"
          class="font-fira-sans text-base not-italic font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out 
            desktop:hover:underline desktop:focus:underline desktop:active:underline desktop:active:text-primary-green">hello@ecotote.com
        </a>
      </address>

      <button type="button" class="flex items-center justify-center bg-transparent border-0 p-0 cursor-pointer transition-all duration-300 ease-in-out 
        desktop:hidden" aria-label="Відкрити меню" data-menu-open>

        <svg class="block w-[22px] h-[16px]" width="22" height="16">
          <use class="block w-[22px] h-[16px]" href="/img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>