<section id="hero" class="py-[64px] flex flex-col items-center 
md:pt-[32px] md:pb-[64px]">
  <div class="container">
    <div class="md:flex  flex-row mb-[20px]">
      <h1 class="font-comfortaa font-bold text-[40px] leading-[1.2] tracking-[0.01em] mb-[20px] md:w-[340px] md:mr-[24px] md:b-0
      xl:min-w-[640px] xl:text-[56px] xl:mr-[32px]
      ">EcoTote — Стиль, що не
        шкодить планеті.</h1>

      <div class="md:flex md:flex-col md:items-start">
        <p class="font-fira-sans text-base font-normal leading-6 text-primary-dark mb-[24px]">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з EcoTote.
        </p>
        <a href="#assortment" class="hero-button" role="button" aria-label="Купити зараз">
          Купити зараз
        </a>
      </div>
    </div>

    <div class="hero-image-block">
      <picture>
        <source media="(min-width: 1440px)" srcset="
            /img/hero/desktop/hero.webp    1x,
            /img/hero/desktop/hero@2x.webp 2x
          " />
        <source media="(min-width: 768px)" srcset="
            /img/hero/tablet/hero.webp    1x,
            /img/hero/tablet/hero@2x.webp 2x
          " />
        <img fetchpriority="high" class="hero-image" src="/img/hero/mobile/hero.webp" srcset="
            /img/hero/mobile/hero.webp    1x,
            /img/hero/mobile/hero@2x.webp 2x
          " alt="Екологічна сумка EcoTote" width="288" height="285" />
      </picture>
    </div>
  </div>
</section>