<section id="hero" class="py-[64px] flex flex-col items-center 
tablet:pt-[32px] tablet:pb-[64px]">
  <div class="container">
    <div class="tablet:flex  flex-row mb-[20px]">
      <h1 class="font-comfortaa font-bold text-[40px] leading-[1.2] tracking-[0.01em] mb-[20px] 
      tablet:w-[340px] tablet:mr-[24px] tablet:b-0
      desktop:min-w-[640px] desktop:text-[56px] desktop:mr-[32px]
      ">EcoTote — Стиль, що не
        шкодить планеті.</h1>

      <div class="tablet:flex tablet:flex-col tablet:items-start">
        <p class="font-fira-sans text-base font-normal leading-[1.6] text-primary-dark mb-[24px]
        tablet:mb-[32px] tablet:w-[340px] tablet:text-[18px]
        desktop:w-[640px]
        ">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з EcoTote.
        </p>
        <a href="#assortment" class="font-fira-sans font-normal text-base leading-[1.6] text-white flex items-center justify-center flex-row border border-primary-dark rounded-[6px] w-[288px] h-[50px] bg-primary-dark mb-[24px] transition-all duration-250ms ease-in-out hover:opacity-50 focus:opacity-50 active:opacity-60 active:border-primary-green-dark active:bg-primary-green-dark
        tablet:w-[148px] tablet:h-[50px] tablet:mb-0
        " role="button" aria-label="Купити зараз">
          Купити зараз
        </a>
      </div>
    </div>

    <div>
      <picture>
        <source media="(min-width: 1440px)" srcset="
            /img/hero/desktop/hero.webp    1x,
            /img/hero/desktop/hero@2x.webp 2x
          " />
        <source media="(min-width: 768px)" srcset="
            /img/hero/tablet/hero.webp    1x,
            /img/hero/tablet/hero@2x.webp 2x
          " />
        <img fetchpriority="high" class="rounded-[40px] w-full h-auto
        tablet:w-[704px] tablet:h-[267px]
        desktop:w-[1312px] desktop:h-[498px]
        " src="/img/hero/mobile/hero.webp" srcset="
            /img/hero/mobile/hero.webp    1x,
            /img/hero/mobile/hero@2x.webp 2x
          " alt="Екологічна сумка EcoTote" />
      </picture>
    </div>
  </div>
</section>