<div class="fixed top-0 left-0 w-full h-full bg-primary-green-light z-999 opacity-0 invisible pointer-events-none transition-all duration-300 ease-in-out 
  desktop:hidden" data-menu>

  <div class="w-full h-full py-[20px] px-[14px] flex flex-col overflow-y-auto 
  tablet:px-[32px]">

    <a href="/index.html" class="flex items-center w-[320px] transition-all duration-300 ease-in-out 
    tablet:mb-[40px]">

      <img class="w-[84px] h-[36px] block" src="/img/logo.svg" alt="EcoTote Logo" width="84" height="36" />
    </a>

    <button type="button" class="absolute top-[24px] right-[28px] flex items-center justify-center bg-transparent border-0 cursor-pointer transition-all duration-300 ease-in-out 
    tablet:top-[26px] tablet:right-[36px]" aria-label="Закрити меню" data-menu-close>

      <svg class="block w-[15px] h-[15px]" width="32" height="32">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <nav class="flex flex-col px-[32px] gap-[32px]">

      <a href="#about" class="menu-nav-link font-fira-sans text-base font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out 
        hover:underline focus:underline active:underline active:text-primary-green">Про
        нас
      </a>

      <a href="#advantages-of-bags" class="menu-nav-link font-fira-sans text-base font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out 
        hover:underline focus:underline active:underline active:text-primary-green">Переваги
      </a>

      <a href="#assortment" class="menu-nav-link font-fira-sans text-base font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out 
        hover:underline focus:underline active:underline active:text-primary-green">Асортимент
      </a>

      <a href="#gallery" class="menu-nav-link font-fira-sans text-base font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out 
        hover:underline focus:underline active:underline active:text-primary-green">Галерея
      </a>

      <a href="#feedbacks" class="menu-nav-link font-fira-sans text-base font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out 
        hover:underline focus:underline active:underline active:text-primary-green">Відгуки
      </a>

      <a href="#support" class="menu-nav-link font-fira-sans text-base font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out 
        hover:underline focus:underline active:underline active:text-primary-green">Контакти
      </a>
    </nav>

    <address class="flex flex-col gap-[16px] mt-auto mb-[14px]">

      <a href="tel:+380999091122" class="font-fira-sans text-base not-italic font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out 
        hover:underline focus:underline active:underline active:text-primary-green">+38
        (099) 909 11 22
      </a>

      <a href="mailto:hello@ecotote.com" class="font-fira-sans text-base not-italic font-normal leading-[1.6] text-primary-dark no-underline transition-all duration-300 ease-in-out 
        hover:underline focus:underline active:underline active:text-primary-green">hello@ecotote.com
      </a>
    </address>
  </div>
</div>