.gallery {
  padding: 32px 0;
}

.gallery-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #030a06;
  margin-bottom: 16px;
}

.gallery-subtitle {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #030a06;
  margin-bottom: 32px;
}

.gallery-list {
  width: 288px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 288px;
  gap: 16px;
  grid-template-areas:
    'one'
    'two'
    'three'
    'four';
}

.gallery-item-one {
  grid-area: one;
  border-radius: 32px;
  overflow: hidden;
}

.gallery-item-one img {
  width: 288px;
  height: 288px;
  object-fit: cover;
}

.gallery-item-two {
  grid-area: two;
  border-radius: 32px;
  overflow: hidden;
}

.gallery-item-two img {
  width: 288px;
  height: 288px;
  object-fit: cover;
}

.gallery-item-three {
  grid-area: three;
  border-radius: 32px;
  overflow: hidden;
}

.gallery-item-three img {
  width: 288px;
  height: 288px;
  object-fit: cover;
}

.gallery-item-four {
  grid-area: four;
  border-radius: 32px;
  overflow: hidden;
}

.gallery-item-four img {
  width: 288px;
  height: 288px;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .gallery {
    padding: 64px 0;
  }

  .gallery-title {
    font-size: 36px;
    margin-bottom: 24px;
  }

  .gallery-list {
    width: 704px;
    grid-template-columns: 340px 340px;
    gap: 24px;
    grid-template-areas:
      'four two'
      'three two'
      'three one';
  }

  .gallery-item-one img {
    width: 340px;
    height: 340px;
    object-fit: cover;
  }

  .gallery-item-two img {
    width: 340px;
    height: 700px;
    object-fit: cover;
  }

  .gallery-item-three img {
    width: 340px;
    height: 700px;
    object-fit: cover;
  }

  .gallery-item-four img {
    width: 340px;
    height: 340px;
    object-fit: cover;
  }
}

@media only screen and (min-width: 1440px) {
  .gallery-title {
    font-size: 48px;
  }

  .gallery-list {
    grid-template-columns: 420px 420px 420px 420px;
    gap: 24px;
    grid-template-areas:
      'four two three'
      'one two three';
  }
  .gallery-item-one img {
    width: 420px;
    height: 420px;
    object-fit: cover;
  }
  .gallery-item-two img {
    width: 420px;
    height: 865px;
    object-fit: cover;
  }
  .gallery-item-three img {
    width: 420px;
    height: 865px;
    object-fit: cover;
  }
  .gallery-item-four img {
    width: 420px;
    height: 420px;
    object-fit: cover;
  }
}
