@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
}

@theme {
  --font-fira-sans: 'Fira Sans', sans-serif;
  --font-comfortaa: 'Comfortaa', sans-serif;

  /* Primary Colors */
  --color-primary-dark: #030a06;
  --color-primary-green: #3ac04c;
  --color-primary-green-dark: #113916;
  --color-primary-green-light: #75d281;
  --color-background: #ebf8ed;

  /* Status Colors */
  --color-success: #4caf50;
  --color-error: #d64040;

  /* Neutral Colors */
  --color-white: #ffffff;
  --color-text-primary: #030a06;
  --color-disabled-bg: #dcdcdc;
  --color-disabled-text: #999;

  /* Opacity Variants */
  --color-primary-dark-15: rgba(3, 10, 6, 0.15);
  --color-primary-dark-05: rgba(3, 10, 6, 0.05);
  --color-primary-dark-60: rgba(3, 10, 6, 0.6);
  --color-primary-dark-40: rgba(3, 10, 6, 0.4);
  --color-black-20: rgba(0, 0, 0, 0.2);
  --color-black-40: rgba(0, 0, 0, 0.4);

  /* Delete standard breakpoints */
  --breakpoint-sm: initial;
  --breakpoint-md: initial;
  --breakpoint-lg: initial;
  --breakpoint-xl: initial;
  --breakpoint-2xl: initial;

  /* Add our own */
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

/* #region container */
@layer components {
  .container {
    @apply mx-auto max-w-[320px] px-4;
  }

  @media (min-width: 768px) {
    .container {
      @apply max-w-[768px] px-8;
    }
  }

  @media (min-width: 1440px) {
    .container {
      @apply max-w-[1440px] px-16;
    }
  }
}
/* #endregion container */

/* #region gallery */
@layer components {
  .gallery-grid {
    grid-template-areas:
      'one'
      'two'
      'three'
      'four';
  }

  @media (min-width: 768px) {
    .gallery-grid {
      grid-template-areas:
        'four two'
        'three two'
        'three one';
    }
  }

  @media (min-width: 1440px) {
    .gallery-grid {
      grid-template-areas:
        'four two three'
        'one two three';
    }
  }
}
/* #endregion gallery */

/* #region  background images styles */
.about {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%),
    url('../img/about/mobile/about.webp');
}

.support-image {
  background-image: url('/img/support/mobile/support.webp');
}

@media only screen and (min-width: 768px) {
  .about {
    background-image:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url('../img/about/tablet/about.webp');
  }

  .support-image {
    background-image: url('/img/support/tablet/support.webp');
  }
}

@media only screen and (min-width: 1440px) {
  .about {
    background-image:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url('../img/about/desktop/about.webp');
  }

  .support-image {
    background-image: url('/img/support/desktop/support.webp');
  }
}

/* #endregion  background images styles */

/* #region Retina display support */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .about {
    background-image:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url('../img/about/mobile/about@2x.webp');
  }

  .support-image {
    background-image: url('/img/support/mobile/support@2x.webp');
  }

  @media only screen and (min-width: 768px) {
    .about {
      background-image:
        linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.4) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url('../img/about/tablet/about@2x.webp');
    }

    .support-image {
      background-image: url('/img/support/tablet/support@2x.webp');
    }
  }

  @media only screen and (min-width: 1440px) {
    .about {
      background-image:
        linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.4) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url('../img/about/desktop/about@2x.webp');
    }

    .support-image {
      background-image: url('/img/support/desktop/support@2x.webp');
    }
  }
}

/* #endregion Retina display support */

/* #region support */

.support-input:not(:placeholder-shown):valid {
  border-color: #4caf50;
}

.support-input:not(:placeholder-shown):valid::placeholder {
  color: rgba(3, 10, 6, 0.4);
}

.support-input:not(:placeholder-shown):invalid {
  border-color: #d64040;
}

.support-input:not(:placeholder-shown):invalid::placeholder {
  color: #d64040;
}

.support-input:not(:placeholder-shown):invalid ~ .support-error-invalid {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 4px;
}

/* #endregion support */
